arm7.ADuC70xx.IAR_4-30/1-EventFlag/Exe/*.*
arm7.ADuC70xx.IAR_4-30/1-EventFlag/List/*.*
arm7.ADuC70xx.IAR_4-30/1-EventFlag/Obj/*.*
arm7.ADuC70xx.IAR_4-30/1-EventFlag/settings/*.*
arm7.ADuC70xx.IAR_4-30/1-EventFlag/slon.dep
arm7.ADuC70xx.IAR_4-30/2-Message/Exe/*.*
arm7.ADuC70xx.IAR_4-30/2-Message/List/*.*
arm7.ADuC70xx.IAR_4-30/2-Message/Obj/*.*
arm7.ADuC70xx.IAR_4-30/2-Message/settings/*.*
arm7.ADuC70xx.IAR_4-30/2-Message/slon.dep
arm7.ADuC70xx.IAR_4-30/3-Channel/Exe/*.*
arm7.ADuC70xx.IAR_4-30/3-Channel/List/*.*
arm7.ADuC70xx.IAR_4-30/3-Channel/Obj/*.*
arm7.ADuC70xx.IAR_4-30/3-Channel/settings/*.*
arm7.ADuC70xx.IAR_4-30/3-Channel/slon.dep
arm7.AT91SAM7.IAR_4-30/1-EventFlag/Exe/*.*
arm7.AT91SAM7.IAR_4-30/1-EventFlag/List/*.*
arm7.AT91SAM7.IAR_4-30/1-EventFlag/Obj/*.*
arm7.AT91SAM7.IAR_4-30/1-EventFlag/settings/*.*
arm7.AT91SAM7.IAR_4-30/1-EventFlag/slon.dep
arm7.AT91SAM7.IAR_4-30/2-Message/Exe/*.*
arm7.AT91SAM7.IAR_4-30/2-Message/List/*.*
arm7.AT91SAM7.IAR_4-30/2-Message/Obj/*.*
arm7.AT91SAM7.IAR_4-30/2-Message/settings/*.*
arm7.AT91SAM7.IAR_4-30/2-Message/slon.dep
arm7.AT91SAM7.IAR_4-30/3-Channel/Exe/*.*
arm7.AT91SAM7.IAR_4-30/3-Channel/List/*.*
arm7.AT91SAM7.IAR_4-30/3-Channel/Obj/*.*
arm7.AT91SAM7.IAR_4-30/3-Channel/settings/*.*
arm7.AT91SAM7.IAR_4-30/3-Channel/slon.dep
arm7.LPC2xxx.IAR_4-30/1-EventFlag/Exe/*.*
arm7.LPC2xxx.IAR_4-30/1-EventFlag/List/*.*
arm7.LPC2xxx.IAR_4-30/1-EventFlag/Obj/*.*
arm7.LPC2xxx.IAR_4-30/1-EventFlag/settings/*.*
arm7.LPC2xxx.IAR_4-30/1-EventFlag/slon.dep
arm7.LPC2xxx.IAR_4-30/2-Message/Exe/*.*
arm7.LPC2xxx.IAR_4-30/2-Message/List/*.*
arm7.LPC2xxx.IAR_4-30/2-Message/Obj/*.*
arm7.LPC2xxx.IAR_4-30/2-Message/settings/*.*
arm7.LPC2xxx.IAR_4-30/2-Message/slon.dep
arm7.LPC2xxx.IAR_4-30/3-Channel/Exe/*.*
arm7.LPC2xxx.IAR_4-30/3-Channel/List/*.*
arm7.LPC2xxx.IAR_4-30/3-Channel/Obj/*.*
arm7.LPC2xxx.IAR_4-30/3-Channel/settings/*.*
arm7.LPC2xxx.IAR_4-30/3-Channel/slon.dep
avr.IAR_4-20/1-EventFlag/.sconsign.dblite
avr.IAR_4-20/1-EventFlag/Exe/*.*
avr.IAR_4-20/1-EventFlag/List/*.*
avr.IAR_4-20/1-EventFlag/Obj/*.*
avr.IAR_4-20/1-EventFlag/slon.AVR.vpwhist
avr.IAR_4-20/1-EventFlag/slon.AVR.vtg
avr.IAR_4-20/1-EventFlag/slon.dep
avr.IAR_4-20/2-Message/.sconsign.dblite
avr.IAR_4-20/2-Message/Exe/*.*
avr.IAR_4-20/2-Message/List/*.*
avr.IAR_4-20/2-Message/Obj/*.*
avr.IAR_4-20/2-Message/slon.AVR.vpwhist
avr.IAR_4-20/2-Message/slon.AVR.vtg
avr.IAR_4-20/2-Message/slon.dep
avr.IAR_4-20/3-Channel/.sconsign.dblite
avr.IAR_4-20/3-Channel/Exe/*.*
avr.IAR_4-20/3-Channel/List/*.*
avr.IAR_4-20/3-Channel/Obj/*.*
avr.IAR_4-20/3-Channel/slon.AVR.vpwhist
avr.IAR_4-20/3-Channel/slon.AVR.vtg
avr.IAR_4-20/3-Channel/slon.dep
bf533.VDSP_4-0/1-EventFlag/.sconsign.dblite
bf533.VDSP_4-0/1-EventFlag/Config/BF533cpp.ldf.is
bf533.VDSP_4-0/1-EventFlag/Config/get_info.pyc
bf533.VDSP_4-0/1-EventFlag/Config/utils.pyc
bf533.VDSP_4-0/1-EventFlag/Config/vdsp_lst.pyc
bf533.VDSP_4-0/1-EventFlag/Exe/*.*
bf533.VDSP_4-0/1-EventFlag/List/*.*
bf533.VDSP_4-0/1-EventFlag/Obj/*.*
bf533.VDSP_4-0/1-EventFlag/slon.Blackfin.vpwhist
bf533.VDSP_4-0/1-EventFlag/slon.Blackfin.vtg
bf533.VDSP_4-0/2-Message/.sconsign.dblite
bf533.VDSP_4-0/2-Message/Config/BF533cpp.ldf.is
bf533.VDSP_4-0/2-Message/Config/get_info.pyc
bf533.VDSP_4-0/2-Message/Config/utils.pyc
bf533.VDSP_4-0/2-Message/Config/vdsp_lst.pyc
bf533.VDSP_4-0/2-Message/Exe/*.*
bf533.VDSP_4-0/2-Message/List/*.*
bf533.VDSP_4-0/2-Message/Obj/*.*
bf533.VDSP_4-0/2-Message/slon.Blackfin.vpwhist
bf533.VDSP_4-0/2-Message/slon.Blackfin.vtg
bf533.VDSP_4-0/3-Channel/.sconsign.dblite
bf533.VDSP_4-0/3-Channel/Config/BF533cpp.ldf.is
bf533.VDSP_4-0/3-Channel/Config/get_info.pyc
bf533.VDSP_4-0/3-Channel/Config/utils.pyc
bf533.VDSP_4-0/3-Channel/Config/vdsp_lst.pyc
bf533.VDSP_4-0/3-Channel/Exe/*.*
bf533.VDSP_4-0/3-Channel/List/*.*
bf533.VDSP_4-0/3-Channel/Obj/*.*
bf533.VDSP_4-0/3-Channel/slon.Blackfin.vpwhist
bf533.VDSP_4-0/3-Channel/slon.Blackfin.vtg
msp430.IAR_3-41/1-EventFlag/.sconsign.dblite
msp430.IAR_3-41/1-EventFlag/Exe/*.*
msp430.IAR_3-41/1-EventFlag/List/*.*
msp430.IAR_3-41/1-EventFlag/Obj/*.*
msp430.IAR_3-41/1-EventFlag/slon.MSP430.vpwhist
msp430.IAR_3-41/1-EventFlag/slon.MSP430.vtg
msp430.IAR_3-41/1-EventFlag/slon.dep
msp430.IAR_3-41/2-Message/.sconsign.dblite
msp430.IAR_3-41/2-Message/Exe/*.*
msp430.IAR_3-41/2-Message/List/*.*
msp430.IAR_3-41/2-Message/Obj/*.*
msp430.IAR_3-41/2-Message/slon.MSP430.vpwhist
msp430.IAR_3-41/2-Message/slon.MSP430.vtg
msp430.IAR_3-41/2-Message/slon.dep
msp430.IAR_3-41/3-Channel/.sconsign.dblite
msp430.IAR_3-41/3-Channel/Exe/*.*
msp430.IAR_3-41/3-Channel/List/*.*
msp430.IAR_3-41/3-Channel/Obj/*.*
msp430.IAR_3-41/3-Channel/slon.MSP430.vpwhist
msp430.IAR_3-41/3-Channel/slon.MSP430.vtg
msp430.IAR_3-41/3-Channel/slon.dep
