* text=auto !eol
Samples/ARM7/GCC/ADuC70xx/1-EventFlag/makefile -text
Samples/ARM7/GCC/ADuC70xx/2-Message/makefile -text
Samples/ARM7/GCC/ADuC70xx/3-Channel/makefile -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/.cproject -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/.project -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/makefile -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/debug/dbg_uart.h -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/debug/debug.cpp -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/debug/ftoa.c -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/debug/ftoa.h -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/debug/hexchar.c -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/debug/uart_regs.h -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/main.cpp -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/scmRTOS_CONFIG.h -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/scmRTOS_TARGET_CFG.h -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/scmRTOS_extensions.h -text
Samples/CortexM3/GCC/STM32F2XX/4-Debug/src/startup-stm32f4xx.c -text
